/* The main body settings */
body {
  /* fallback */
  background-color: #F5F500;
  background-repeat: repeat-y;
  /* Safari 4-5, Chrome 1-9 */
  background: -webkit-gradient(left, #F5F500, #ffffff, #F5F500);
  /* Safari 5.1, Chrome 10+ */
  background: -webkit-linear-gradient(left, #F5F500, #ffffff, #F5F500);
  /* Firefox 3.6+ */
  background: -moz-linear-gradient(left, #F5F500, #ffffff, #F5F500);
  /* IE 10 */
  background: -ms-linear-gradient(left, #F5F500, #ffffff, #F5F500);
  /* Opera 11.10+ */
  background: -o-linear-gradient(left, #F5F500, #ffffff, #F5F500);
  margin-left:auto;
  margin-right:auto;
  margin-top:15px;
  margin-bottom:50px position:static;
  text-align: left;
}
/* Divtag for the wrapper design settings */
#wrapper {
  background: #ffffff;
  width: 800px;
  height: 1000px;
  margin-left: auto;
  margin-right:auto;
  padding-left:70px;
  padding-right:70px;
  padding-bottom:40px;
  border-style:solid;
  border-color:#F5F500;
  -moz-border-radius: 15px;
  border-radius: 15px;
}
/* Divtag for the header design settings for behind the logo */
#header{
width:800px;
height:250;
border-style:solid;
  border-color:#F5F500;
 
  -moz-border-radius: 15px;
  border-radius: 15px;
  /* fallback */
  background-color: #F5F500;
  background-repeat: repeat-y;
  /* Safari 4-5, Chrome 1-9 */
  background: -webkit-gradient(left, #F5F500, #ffffff, #F5F500);
  /* Safari 5.1, Chrome 10+ */
  background: -webkit-linear-gradient(left, #F5F500, #ffffff, #F5F500);
  /* Firefox 3.6+ */
  background: -moz-linear-gradient(left, #F5F500, #ffffff, #F5F500);
  /* IE 10 */
  background: -ms-linear-gradient(left, #F5F500, #ffffff, #F5F500);
  /* Opera 11.10+ */
  background: -o-linear-gradient(left, #F5F500, #ffffff, #F5F500);
}
/* Divtage for the logo container */
#banner{
  width: 400px;
  height: 250px;
  padding-left:150px;
  padding-right:100px;
  }
  /* Divtag for the navigation links */
  #navigation{
  width:200;
  border-style:solid;
  border-color:#F5F500;
  padding-left:225px;
   -moz-border-radius: 15px;
  border-radius: 15px;
  float:center;
  }
  /* Divtag for the navigation on the Acts/Gallery page */
  #navigation2{
  width:100;
  border-style:solid;
  border-color:#F5F500;
  padding-left:350px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  float:center;
  }
  /* Divtag for the content container */
  #content{
  width:600px;
  height:200px;
  padding-left:30px;
  float:center;
  }
  /* Divtag for the content container in the Login / Register page*/
  #content2{
  width:100px;
  height:200px;
  padding-left:300px;
  float:center;
  }
  /* Divtag for the gallery images */
  #imagerow{
  width:600px;
  height:500px;
  }
  /* Paragraph font settings */
p {
  color: black;
  font-family: sans-serif, verdana, Arial, Helvetica;
  font-size: 16px;
  font-style:italic;
}
/* Link settings */
a {
  padding:3px;
}
/* Image settings */
img {
  padding:30px
}
/* Table settings */
table{
    border:0;
}
/* Header 1 settings */
h1{
  text-align:center;
}
/* Form settings */
form{
float:center;
}